body{
    font-family: Arial, Helvetica, sans-serif;
}


/**/

div {
    display: inline-block;
    height: 100%;   
}


/*Nome do produto*/

#productName {    
    font-size: 30px;
    line-height: 0px;
    margin-top: 40px;
}


/**/

#cotainerA {
    background-color: rgb(255, 255, 255);
}


/**/

#cotainerB {
    background-color: #ffffff;
}


/**/
#cotainerB1 {
    margin-left: 300px;
    background-color: #BC2C2C;
    color: #ffffff; 
    padding: 5px 10px 5px;

}

#pointRight {
    padding-right: 30px;
}

#pointLeft {
    padding-left: 30px;
}


/**/
#cotainerB3 {
    display: block;
    margin-bottom: 20px;
}

#amount {
    font-weight: bold;
    margin-top: 20px;

}

#inputAmount {
    text-align: center;
    padding: 5px 10px 5px;
    border-radius: 5px
}

#totalStock {
    font-weight: bold;
    color: #666666;
}

#list {
    display: block;
    text-align: left;
}

#AddList {
    font-weight: bold;
    color: #2c2fec;
    text-align: left;
    padding: 5px 360px 5px 5px;
    border: dotted 1px #c2c2c2;
}

#purchase {
    margin-left: 75px;
}


/**/
#cotainerB4 {
    margin-bottom: 10px;
    display: block;
    background-color: rgb(226, 226, 226);
    border: solid 1px #c2c2c2;
    line-height: 0px;
}

#CalculateShipping {
    color: #cfcfcf;
    font-weight: bold;
    background-color: rgb(15, 15, 15);
    padding: 5px 10px 5px;

}

#cep {
    font-weight: bold;
    color: #767676;
}

#startCep {
    padding: 5px 10px 5px;
    border-radius: 5px;
}

#endCep {
    padding: 5px 10px 5px;
    border-radius: 5px;
}



/**/
#cotainerB5 {
    display: block;
    margin-bottom: 15px;
    margin-top: 20px;
    border-top: solid 1px #c2c2c2;
    border-bottom: solid 1px #c2c2c2;
    line-height: 6px;
}


#price {
    color: #98be00;
}

#price2 {
    color: #767676;
}

#formsOfpaagmwento {
    color: #6e38da;
    text-decoration: underline;
    font-size: 13px;
}